@font-face {
  font-family: "Vector Waves";
  src: url("assets/Vector Waves.ttf");
}

html, body {
  margin: 0;
  padding: 0;

}

canvas {
  display: block;
}

* {
  font-family: "Vector Waves", sans-serif;
  background-color: black;
  color: white;
}

#p5_loading { 
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}

body:has(#p5_loading) {
  align-items: center;
  align-content: center;
  height: 100vh;
}